﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UCActivityTabContribuiltion.ascx.vb" Inherits="usercontrol_UCActivityTabContribuiltion" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajaxToolkit" %>
<%@ Register Src="~/usercontrol/UCDisbursementContribution.ascx" TagPrefix="uc1" TagName="UCDisbursementContribution" %>
<%@ Register Src="~/usercontrol/UCProjectCountryRe.ascx" TagName="UCProjectCountryRe" TagPrefix="uc7" %>
<%@ Register Src="~/usercontrol/UCprojectRecipience.ascx" TagName="UCprojectRecipience" TagPrefix="uc8" %>
<%@ Register Src="~/usercontrol/UCProjectCountry.ascx" TagName="UCProjectCountry" TagPrefix="uc9" %>
<%@ Register Src="~/usercontrol/UCOrganize.ascx" TagName="UCOrganize" TagPrefix="uc1" %>



<style>
    .cost-uc {
        padding-right: 8.3% !important;
    }

        .cost-uc span {
            padding-left: 30px;
        }

    .RadioButtonWidth {
        margin: 0 10px;
        padding: 10px;
    }

        .RadioButtonWidth label {
            padding-left: 10px !important;
            margin-right: 20px;
            vertical-align: middle;
        }
</style>

<asp:UpdatePanel ID="UpdatePanel1" runat="server">
    <ContentTemplate>
        <asp:Panel ID="pnlAdd" runat="server">
            <div class="modal-header">
                <div class="col-sm-8" style="margin-left: -15px; margin-bottom: 15px;">
                    <%--<b>*Title (หัวข้อกิจกรรม)</b>--%>
                    <b><span style="color: red;">* </span>Title (หัวข้อกิจกรรม)</b>
                    <asp:TextBox ID="txtActDescription" runat="server" CssClass="form-control m-b" Style="width: 100%;"></asp:TextBox>
                    <asp:Label ID="lblActivityID" runat="server" Text="0" Visible="false"></asp:Label>
                    <asp:Label ID="lblParentActivityID" runat="server" Text="0" Visible="false"></asp:Label>
                    <asp:Label ID="lblProjectID" runat="server" Text="0" Visible="false"></asp:Label>
                    <asp:Label ID="lblActivityMode" runat="server" Text="" Visible="false"></asp:Label>

                </div>

                <div class="col-sm-4">
                    <b>Group Aid (ประเภทความช่วยเหลือ)</b>
                    <asp:DropDownList ID="ddlSelectReport" runat="server" CssClass="form-control select2" Style="width: 100%;" AutoPostBack="True" OnSelectedIndexChanged="lblGroup_SelectedIndexChanged">
                        <asp:ListItem Value="0">Select Group Aid</asp:ListItem>
                        <asp:ListItem Value="1">Component (ประเภทการให้ทุน)</asp:ListItem>
                        <asp:ListItem Value="2">In kind (ความช่วยเหลือด้านอื่นๆ)</asp:ListItem>
                    </asp:DropDownList>
                </div>

                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <asp:Panel ID="pnlTab" runat="server" Visible="false">
                        <ul class="nav nav-tabs">
                            <li class="" id="liTabActActDetail" runat="server">
                                <asp:LinkButton ID="btnTabActActDetail" runat="server">
                                        <div class="iti-flag gb" style="float:left; margin-top:3px; margin-right:3px; cursor:pointer;"></div><h5><span style="cursor:pointer"><i class="fa fa-list-alt"></i>ข้อมูลกิจกรรม</span></h5>
                                </asp:LinkButton>
                            </li>
                            <li class="" id="liTabActExpense" runat="server">
                                <asp:LinkButton ID="btnTabActExpense" runat="server">
                                        <div class="iti-flag ru" style="float:left; margin-top:0px; margin-right:3px; cursor:pointer;"></div><h5><span style="cursor:pointer"><i class="fa fa-th-list"></i>ข้อมูลค่าใช้จ่าย</span></h5>
                                </asp:LinkButton>
                            </li>

                        </ul>
                    </asp:Panel>


                    <!--TabActActDetail-->
                    <asp:Panel ID="TabActActDetail" runat="server">

                        <table class="table table-bordered">

                            <%-- <tr>
                                            <td style="width: 200px; text-align:right;">
                                                <p>Description</p>
                                                <p class="pull-right"> (รายละเอียด) :</p>
                                            </td>
                                            <td>
                                                <div class="col-sm-12">
                                                    <asp:TextBox ID="txtActDescription" runat="server" TextMode="MultiLine" Height="60px" Width="100%" MaxLength="1000"></asp:TextBox>
                                                    <asp:Label ID="lblActivityID" runat="server" Text="0" Visible="false" ></asp:Label>
                                                    <asp:Label ID="lblParentActivityID" runat="server" Text="0" Visible="false"></asp:Label>
                                                    <asp:Label ID="lblProjectID" runat="server" Text="0" Visible="false"></asp:Label>
                                                    <asp:Label ID="lblActivityMode" runat="server" Text="" Visible="false"></asp:Label>
                                                </div>
                                            </td>
                                        </tr>--%>

                            <tr>
                                <td style="width: 200px; text-align: right;">
                                    <p><span style="color: red;">* </span>Sector (สาขา) :</p>
                                </td>
                                <td class="">
                                    <div class="col-sm-12">
                                        <asp:DropDownList ID="ddlSector" runat="server" CssClass="form-control select2" Style="width: 100%" AutoPostBack="true">
                                        </asp:DropDownList>
                                    </div>
                                    <!-- /.form-group -->
                                </td>
                            </tr>

                            <tr>
                                <td style="text-align: right;">
                                    <p><span style="color: red;">* </span>Sector Type (สาขาย่อย) :</p>
                                </td>
                                <td class="">
                                    <div class="col-sm-12">
                                        <asp:DropDownList ID="ddlSubSector" runat="server" CssClass="form-control select2" Style="width: 100%">
                                        </asp:DropDownList>
                                    </div>
                                    <!-- /.form-group -->
                                </td>
                            </tr>
                            <tr runat="server" id ="traid">
                                <td style="width: 200px">
                                    <p class="pull-right">
                                        </b>
                                                <br />
                                        <p class="pull-right"><span style="color: red;">* </span>type aid(ความช่วยเหลือย่อย) :</p>
                                </td>
                                <td>
                                    <div class="col-sm-12">
                                        <asp:DropDownList ID="ddlComponent" runat="server" CssClass="form-control select2" Style="width: 50%">
                                        </asp:DropDownList>
                                        <asp:DropDownList ID="ddlInkind" runat="server" CssClass="form-control select2" Style="width: 50%">
                                        </asp:DropDownList>
                                        <%--<uc2:UCProjectComponent runat="server" ID="UCProjectComponent" />--%>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px">
                                    <asp:Label ID="Label1" runat="server"></asp:Label>

                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <asp:CheckBox ID="chkActive" runat="server" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-bordered">
                            <tr class="bg-info">
                                <th colspan="2">
                                    <h5 style="margin: 2px;"><b class="text-blue"><span style="cursor: pointer"><i class="fa fa-th-list"></i>ระยะเวลา</span></b></h5>
                                </th>
                            </tr>
                            <tr>
                                <td style="width: 200px; text-align: right;">
                                    <p class="pull-right">Plan(Start/End Date) </p>
                                    <p class="pull-right">(แผนวันเริ่มต้น/สิ้นสุด) :</p>
                                </td>
                                <td>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <asp:TextBox CssClass="form-control m-b" ID="txtPlanActStart" runat="server" placeholder=""></asp:TextBox>
                                            <ajaxToolkit:CalendarExtender ID="CalendarExtender3" runat="server"
                                                Format="dd/MM/yyyy" TargetControlID="txtPlanActStart" PopupPosition="BottomLeft"></ajaxToolkit:CalendarExtender>
                                        </div>
                                        <!-- /.input group -->

                                    </div>
                                    <div class="col-sm-1">
                                        <h5>
                                            <p class="text-black">(TO)ถึง</p>
                                            <h5></h5>
                                        </h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <asp:TextBox CssClass="form-control m-b" ID="txtplanActEnd" runat="server" placeholder=""></asp:TextBox>
                                            <ajaxToolkit:CalendarExtender ID="CalendarExtender4" runat="server"
                                                Format="dd/MM/yyyy" TargetControlID="txtplanActEnd" PopupPosition="BottomLeft"></ajaxToolkit:CalendarExtender>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <%--<label class="pull-right"> day, week, month, year</label>--%>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td style="width: 200px; text-align: right;">
                                    <p class="pull-right"><span style="color: red;">*</span>Actual (Start/End Date) </p>
                                    <p class="pull-right">(วันเริ่มต้น/สิ้นสุด) :</p>
                                </td>
                                <td>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <asp:TextBox CssClass="form-control m-b" ID="txtActualActStart" runat="server" placeholder=""></asp:TextBox>
                                            <ajaxToolkit:CalendarExtender ID="CalendarExtender5" runat="server"
                                                Format="dd/MM/yyyy" TargetControlID="txtActualActStart" PopupPosition="BottomLeft"></ajaxToolkit:CalendarExtender>
                                        </div>
                                        <!-- /.input group -->

                                    </div>
                                    <div class="col-sm-1">
                                        <h5>
                                            <p class="text-black">(TO)ถึง</p>
                                            <h5></h5>
                                        </h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <asp:TextBox CssClass="form-control m-b" ID="txtActualActEnd" runat="server" placeholder=""></asp:TextBox>
                                            <ajaxToolkit:CalendarExtender ID="CalendarExtender6" runat="server"
                                                Format="dd/MM/yyyy" TargetControlID="txtActualActEnd" PopupPosition="BottomLeft"></ajaxToolkit:CalendarExtender>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <%--<label class="pull-right"> day, week, month, year</label>--%>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <table class="table table-bordered">
                            <tr class="bg-info">
                                <th colspan="2">
                                    <h5 style="margin: 2px;"><b class="text-blue"><span style="cursor: pointer"><i class="fa fa-users"></i>ข้อมูลผู้รับทุน</span></b></h5>
                                </th>
                            </tr>
                            <tr>
                                    <td style="width: 210px; text-align: right">
                                        <asp:RadioButtonList ID="RadioSelectRe" runat="server" AutoPostBack="true" Style="text-align: left">
                                            <asp:ListItem Selected="true" Text="Country Recipient(ระยะสั้น)" Value="1"></asp:ListItem>
                                            <asp:ListItem Text="Recipient(ระยะยาว)" Value="2"></asp:ListItem>
                                            <asp:ListItem Text="Country(ประเทศ)" Value="3"></asp:ListItem>
                                            <asp:ListItem Text="Organization(หน่วยงาน)" Value="4"></asp:ListItem>
                                        </asp:RadioButtonList></td>
                                <td>
                                    <uc7:UCProjectCountryRe runat="server" ID="UCProjectCountryRe" />
                                    <uc8:UCprojectRecipience runat="server" ID="UCprojectRecipience" Visible="false" />
                                    <uc9:UCProjectCountry runat="server" ID="UCProjectCountry" Visible="false" />
                                    <uc1:UCOrganize runat="server" ID="UCOrganize" Visible="false" />
                                </td>
                            </tr>
                        </table>
                    </asp:Panel>

                    <%-- Commitment --%>
                    <asp:Panel ID="TabActExpense" runat="server">

                        <table class="table table-bordered">
                            <tr class="bg-info">
                                <th colspan="4">
                                    <h5 style="margin: 2px;"><b class="text-blue"><span style="cursor: pointer"><i class="fa fa-th-list"></i>ข้อมูลค่าใช้จ่าย</span></b></h5>
                                </th>
                            </tr>

                            <tr>
                                <td style="width: 200px; text-align: right;">
                                    <p>Contribution Budget </p>
                                    <p class="pull-right">(งบประมาณเงินสนับสนุน) :</p>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <div class="input-group">

                                                <asp:TextBox ID="txtActCommitment" runat="server" CssClass="form-control cost" placeholder="" MaxLength="12" Width="150px"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <h5>
                                                <p class="text-black">บาท</p>

                                            </h5>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </td>
                                <td style="width: 200px; text-align: right;">
                                    <p><span style="color: red;">*</span>balance budget</p>
                                    <p class="pull-right">(งบประมาณที่ยังไม่ได้จัดสรรค์) :</p>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <div class="input-group">

                                                <asp:TextBox ID="txtbutged" runat="server" CssClass="form-control cost" placeholder="" MaxLength="12" Style="width: 150px"></asp:TextBox>
                                            </div>
                                        </div>
                                        <div class="col-sm-1">
                                            <h5>
                                                <p class="text-black">บาท</p>

                                            </h5>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
<%--                                <td style="width: 200px; text-align: right;">
                                    <p><span style="color: red;">*</span>Disbursement Type</p>
                                    <p class="pull-right">(ประเภทการจ่าย) :</p>
                                </td>
                                <td>
                                    <div class="col-sm-12">
                                        <asp:DropDownList ID="ddlSelectDisbursement" runat="server" CssClass="form-control select2" Style="width: 200px;" AutoPostBack="True">
                                            <asp:ListItem Value="">Select Disbursement Type</asp:ListItem>
                                            <asp:ListItem Value="1">Loan (เงินให้ยืม)</asp:ListItem>
                                            <asp:ListItem Value="2">Grant (เงินให้เปล่า)</asp:ListItem>
                                        </asp:DropDownList>
                                    </div>
                                </td>--%>
                                <td style="width: 200px; text-align: right;">
                                    <p><span style="color: red;">*</span>Template</p>
                                    <p class="pull-right">(รูปแบบการชำระเงิน) :</p>
                                </td>
                                <td>
                                    <div class="col-sm-7">
                                        <asp:DropDownList ID="lbltemplate" runat="server" CssClass="form-control select2" Style="width: 100%">
                                        </asp:DropDownList>
                                    </div>
                                    <div class="col-sm-5">
                                        <asp:Button ID="btnApply" runat="server" Text="Apply" CssClass="btn btn-primary" />
                                    </div>
                                </td>
                            </tr>
                            <%--Disbursement--%>
                           
                                <uc1:UCDisbursementContribution runat="server" ID="UCDisbursementContribution" Visible="false" />

                                <td colspan="4">
                                    <table id="example2" class="table table-bordered table-hover" style="width: 100%">
                                        <thead>
                                            <tr class="bg-gray">
                                                <th style="width: 19%;">Budget Date 

                                                        <br />
                                                    (วันที่จัดสรร)</th>
                                                <th style="width: 19%;">Payment Date
                                                        <br />
                                                    (วันที่จ่ายจริง)</th>
                                                <th style="width: 18%;">Budget
                                                        <br />
                                                    (งบประมาณ)</th>
                                                <th style="width: 18%;">Expense
                                                        <br />
                                                    (ค่าใช้จ่าย)</th>
                                                <th style="width: 18%;">Budget Total
                                                        <br />
                                                    (งบประมาณคงเหลือ)</th>
                                                <th class="tools">tools</br>(เครื่องมือ)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <asp:Repeater ID="rptList" runat="server">
                                                <ItemTemplate>
                                                    <tr>
                                                        <td data-title="Project ID" id="td1" style="text-align: center;" runat="server">
                                                            <asp:Label ID="lbldatePlan" runat="server"></asp:Label>
                                                            <asp:Label ID="lblID" runat="server" Visible="false"></asp:Label></td>
                                                        <td data-title="Project Name" style="text-align: center;">
                                                            <asp:Label ID="lbldateActual" runat="server"></asp:Label></td>
                                                        <td data-title="Record" style="text-align: right; background-color: lightblue;">
                                                            <asp:Label ID="lblpayPlan" runat="server"></asp:Label></td>
                                                        <td data-title="Payment Date" runat="server" id="tdPayActual">
                                                            <asp:Label ID="lblpayActual" runat="server"></asp:Label>
                                                        </td>
                                                        <td data-title="Payment Date" style="text-align: right;" runat="server" id="td2">
                                                            <asp:Label ID="lblpayTotal" runat="server"></asp:Label>
                                                        </td>
                                                        <td data-title="Edit" id="ColEdit" runat="server" class="center">
                                                            <div class="btn-group">
                                                                <button type="button" data-toggle="dropdown" style="height: 25px; width: 35px;">
                                                                    <i class="fa fa-navicon text-green"></i>
                                                                </button>
                                                                <ul class="dropdown-menu pull-right">
                                                                    <%--<li id="lipay" runat="server">
                                                                        <asp:LinkButton ID="btnPay" runat="server" CommandArgument='<%# Eval("id") %>' CommandName="cmdPay">
                                                      <i class="fa fa-credit-card text-blue"></i> ชำระค่าใช้จ่าย</asp:LinkButton>
                                                                    </li>--%>
                                                                    <li id="liedit" runat="server">
                                                                        <asp:LinkButton ID="btnEdit" runat="server" CommandArgument='<%# Eval("id") %>' CommandName="cmdEdit">
                                                      <i class="fa fa-pencil text-blue"></i> แก้ไข</asp:LinkButton>
                                                                    </li>
                                                                    <li id="lidelete" runat="server">
                                                                        <asp:LinkButton ID="btnDelete" runat="server" OnClientClick='javascript:return confirm("ท่านต้องการลบข้อมูลใช่หรือไม่?")'
                                                                            CommandArgument='<%# Eval("id") %>' CommandName="cmdDelete"><i class="fa fa-trash text-danger"></i> ลบ</asp:LinkButton>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </ItemTemplate>
                                            </asp:Repeater>

                                        </tbody>
                                        <asp:Panel ID="pnlFooter" runat="server" Visible="True">
                                            <tfoot style="background-color: LemonChiffon;">
                                                <tr id="trFooter_Qty" runat="server">

                                                    <td style="text-align: center;" colspan="2"><b>Total</b></td>

                                                    <td style="text-align: right; text-decoration: underline;"><b>
                                                        <asp:Label ID="lblBudget_Sum" runat="server" ForeColor="black"></asp:Label></b></td>
                                                    <td style="text-align: right; text-decoration: underline;"><b>
                                                        <asp:Label ID="lblDisbursement_Sum" runat="server" ForeColor="black"></asp:Label></b></td>
                                                    <td style="text-align: right; text-decoration: underline;"><b>
                                                        <asp:Label ID="lblpayTotalSum" runat="server" ForeColor="black"></asp:Label></b></td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </asp:Panel>

                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 200px; text-align: right;">
                                    <p>Pay As (จ่ายเงิน) :</p>
                                </td>
                                <td colspan="3">
                                    <div class="col-sm-8">
                                        <div class="form-group" style="border-left: 0px;">
                                            <asp:RadioButtonList ID="cblpayas" runat="server" RepeatDirection="Horizontal" RepeatLayout="Table" CssClass="RadioButtonWidth">
                                                <asp:ListItem Value="0" Text="Mandary (ตามพันธกรณี)"></asp:ListItem>
                                                <asp:ListItem Value="1" Text="Voluntary (ตามความสมัครใจ)"></asp:ListItem>
                                            </asp:RadioButtonList>
                                        </div>
                                    </div>

                                </td>
                            </tr>

                        </table>
                    </asp:Panel>
                </div>
            </div>

            <!-- nav-tabs-custom -->

            <div class="modal-footer">
                <asp:LinkButton ID="btnSaveAct" runat="server" CssClass="btn  btn-social btn-success">
                            <i class="fa fa-save"></i> Save
                </asp:LinkButton>
                <asp:LinkButton ID="btnCancelAct" runat="server" CssClass="btn  btn-social btn-google">
                            <i class="fa fa-reply"></i> Cancel
                </asp:LinkButton>
            </div>
            </div>
              
        </asp:Panel>
    </ContentTemplate>
</asp:UpdatePanel>
