﻿<%@ Master Language="VB" AutoEventWireup="false" CodeFile="frmMaster.master.vb" Inherits="frmMaster" %>

<%@ Register Src="~/frmActivity.ascx" TagPrefix="uc1" TagName="frmActivity" %>


<!DOCTYPE html>
<html>
  <head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="assets/img/logo.ico" />
    <uc1:frmActivity runat="server" ID="frmActivity" />
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      
      <header class="main-header">
        
       <table cellpadding="0" cellspacing="0" border="0" width="100%" background="dist/img/header/bg2.png"> 
        <tr> 
            <td align="left" width="50%"><a href="Dashboard.aspx"><img src="dist/img/header/logo-inside.png"></a></td>
        </tr> 
        </table> 

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <!-- Notifications: style can be found in dropdown.less -->
              <li class="dropdown notifications-menu js-open-modal-left" data-toggle="tooltip" title="แจ้งเตือน">
                <a data-toggle="modal" data-target="#Notify" class="dropdown-toggle">
                  <i class="fa fa-bell-o text-primary"></i>
                  <span class="label label-warning">3</span>
                </a>
                
              </li>
              
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs text-primary">สมชาย  รักชาติ</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                      สมชาย - Admin
                      <small>Thailand International Development Cooperation Agency (TICA)</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
             
            </ul>
          </div>

        </nav>
      </header>

      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="#" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>Alexander Pierce</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>
          
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
          
        </section>
        <!-- /.sidebar -->
      </aside>

        <br /><br />
      <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server"></asp:ContentPlaceHolder>


      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b class="text-blue">Website : </b> http://www.tica.thaigov.net   E-mail: tica@mfa.go.th<br />
        </div>
        <strong class="text-yellow">Thailand International Development Cooperation Agency (TICA)</strong><br />
      </footer>
     
     <link rel="stylesheet" href="dist/css/jquery.scrolltop.css">
     <script src="dist/js/jquery.scrolltop.js"></script>
      <script>
        (function($){

            $.scrolltop({
                template: '<i class="fa fa-chevron-up"></i>',
                class: 'custom-scrolltop'
            });

        })(jQuery);

    </script>
   
    </div><!-- ./wrapper -->
        
  </body>
</html>
