﻿/*--------------------------------------
|| Parallax Effect Without javascript ||
|| Author: l3lock                     ||
|| Github: https://github.com/l3lock  ||
--------------------------------------*/

/* Create a Parallax Effect */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

