﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="frmAboutUs.aspx.vb" Inherits="frmAboutUs" %>

<%--Header part--%>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
        
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="assets/scripts/Org_Chart.js"></script>

    <style type="text/css">            
        .bgimg-1 {
            background-image: url('assets/img/bg/About_BG_1.JPG');
            min-height: 400px;
        }
       
        .chart {
            margin: 20px 5px;
        }
            .chart table {
                border-collapse: separate;
            }

        .org-card {
            height: 250px;
            padding-top: 50px;
        }

        .text-head {
            margin-bottom: 30px;
        }
        @media (max-width: 750px) {
            .text-head {
                margin-bottom: auto;
            }
        }            
    </style> 
    
</asp:Content>

<%--Body part--%>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    
    <!-- Parallax Image -->
    <div class="bgimg-1 parallax"></div>
    
    <%-- History --%>
    <div class="container">
        <h3 class="margin-bottom-20">ประวัติกรมความร่วมมือระหว่างประเทศ</h3>
        <div class="text-tab">
            <p>
                <span class="text-tab"></span>
                สำนักงานความร่วมมือเพื่อการพัฒนาระหว่างประเทศ (สพร) จัดตั้งขึ้นเมื่อวันที่ ๑๙ ตุลาคม ๒๕๔๗ 
                ตามพระราชกฤษฎีกาจัดตั้งสำนักงานความร่วมมือเพื่อการพัฒนาระหว่างประเทศ พ.ศ. ๒๕๔๗ โดยเป็นส่วนราชการในกระทรวงการต่างประเทศ 
                มีหน้าที่ความรับผิดชอบในการบริหารความร่วมมือเพื่อการพัฒนาในด้านเศรษฐกิจ สังคม วิชาการ กับประเทศเพื่อนบ้านและประเทศในภูมิภาคอื่นๆ ทั้งนี้ 
                ความร่วมมือมีหลายรูปแบบ เช่น โครงการพัฒนา อาสาสมัคร และผู้เชี่ยวชาญ ทุนการศึกษา/ฝึกอบรม
            </p>     
        </div>          
    </div>

    <%--========================================================================================================--%>

    <%-- Vision Mission Symbol --%>
    <div class="container">
        <h3 class="text-head">วิสัยทัศน์ พันธกิจ สัญลักษณ์</h3>

        <div class="text-tab">
            <%-- Vision --%>
            <h2 class="margin-top-20">วิสัยทัศน์</h2>
            <p>
                <span class="text-tab"></span> ความร่วมมือ เพื่อการพัฒนาของไทยมีประสิทธิภาพ และสร้างสรรค์เป็นที่ยอมรับในเวทีระหว่างประเทศ 
                ในการเสริมสร้างความสัมพันธ์ และการพัฒนาที่ยั่งยืน เพื่อเป็นส่วนหนึ่งของการเสริมสร้างความสุขของประชาคมโลก
            </p>        

            <%-------------------------------------------------------------------------------------------%>

            <%-- Mission --%>
            <h2 class="margin-top-20">พันธกิจ</h2>
            <div class="text-tab">
                <p>๑. การเสริมสร้างให้ไทยเป็นศูนย์กลางการเรียนรู้</p>
                <p>๒. การพัฒนาและการปรับปรุงการบริหารจัดการรูปแบบการดำเนินงาน และบุคลากรให้มีขีดความสามารถดำเนินการได้อย่างมีประสิทธิผล</p>
                <p>๓. การบูรณาการ และ การประสานงานนโยบายความร่วมมือระหว่างประเทศ ในภาพรวมให้เป็นเอกภาพ</p>
                <p>๔. การพัฒนารูปแบบของกรอบความร่วมมือใหม่ๆ</p>
                <p>๕. การบริหารความร่วมมือเพื่อการพัฒนาอย่างมีประสิทธิภาพและสร้างสรรค์</p>     
            </div>     

            <%-------------------------------------------------------------------------------------------%>

            <%-- Symbol --%>
            <h2 class="margin-top-20">สัญลักษณ์</h2>
            <div class="row-fluid margin-bottom-30">
                <div class="span4">
                    <img src="assets/img/logo/TICA-logo.png" style="margin:10px 0;"/>
                </div>
                <%----------------------------------------------------------------------------------------%>
                <div class="span8">
                    <h2 class="">ตราสัญลักษณ์ประจำกระทรวง</h2>
                    <p>
                        <span class="text-tab"></span>
                        <b>ตราบัวแก้ว</b> 
                        <span>ซึ่งเป็นรูปเทพยดานั่งในดอกบัว ถือดอกบัวข้างขวา ถือวชิระข้างซ้ายนั้น เป็นตราของกระทรวงการต่างประเทศ </span>
                        <span>ตรานี้มีปรากฏใช้มาตั้งแต่กรุงศรีอยุธยาเป็นราชธานี ในสมัยกรุงรัตนโกสินทร์ ตราบัวแก้วเป็นตราซึ่งเจ้าพระยาพระคลังใช้ประทับในเอกสารของกรมท่า </span>
                        <span>(ซึ่งต่อมาในสมัยปัจจุบันได้ปรับรูปมาเป็น กรมเจ้าท่า กระทรวงคมนาคม) และเอกสารที่เกี่ยวข้องกับงานด้านการต่างประเทศ </span>
                        <span>เช่น สนธิสัญญาต่าง ๆ</span> 
                    </p>
                    <%-------------------------------------------------------------------------------------------%>
                    <p>
                        <span class="text-tab"></span>
                        <span>ในยุครัตนโกสินทร์ตอนต้น ตราสำคัญในราชการไทยมีสามดวง คือตราพระคชสีห์สำหรับสมุหพระกลาโหม</span>
                        <span>ซึ่งใช้ในราชการด้านการทหารทั่วไป ตราพระราชสีห์สำหรับสมุหนายก ใช้ในราชการด้านมหาดไทย และตราบัวแก้วประจำตำแหน่งพระคลัง </span>
                        <span>กฎหมายไทยที่เรียกว่า "กฎหมายตราสามดวง" ก็เป็นเพราะมีการประทับตราทั้งสามดวงนี้ ซึ่งมีตราบัวแก้วรวมอยู่ด้วยดวงหนึ่ง ในปี พ.ศ. ๒๔๑๘ </span>
                        <span>พระบาทสมเด็จพระจุลจอมเกล้าเจ้าอยู่หัวได้ทรงพระกรุณาโปรดเกล้าฯ ให้แยกราชการด้านการคลัง (กรมพระคลังมหาสมบัติ) ออกจากกรมท่า </span>
                        <span>ตราบัวแก้วจึงเป็นตราประจำตำแหน่งเสนาบดีจตุสดมภ์ กรมท่า และต่อมาเมื่อได้ทรงพระกรุณาโปรดเกล้าฯ </span>
                        <span>จัดระบบราชการใหม่โดยแบ่งเป็น ๑๒ กระทรวง ตราบัวแก้ว จึงเป็นตราประจำเสนาบดีว่าการต่างประเทศ </span>
                        <span>และกลายมาเป็นตราของกระทรวงการต่างประเทศจนปัจจุบัน</span> 
                    </p>     
                    <%-------------------------------------------------------------------------------------------%>
                    <p>
                        <span class="text-tab"></span>
                        <span> การใช้ตราบัวแก้วในปัจจุบันนี้ไม่ได้ใช้ประทับในเอกสารทางราชการเหมือนเช่นในสมัยโบราณแล้ว </span>
                        <span>(ตราสำหรับเอกสารราชการไทยทั้งหมด รวมทั้งที่ใช้ในเอกสารราชการของกระทรวงการต่างประเทศด้วย คือตราครุฑ) </span>
                        <span>แต่ถือเป็นตราประจำกระทรวง และเป็นตราประจำสโมสรสราญรมย์ อันเป็นสโมสรของข้าราชการกระทรวงการต่างประเทศด้วย </span>
                        <span>กระทรวงการต่างประเทศมีเพลงประจำกระทรวง คือเพลง "บัวแก้ว" ประพันธ์คำร้องและทำนองโดย </span>
                        <span>หลวงวิจิตรวาทการ อดีตรัฐมนตรีว่าการกระทรวงการต่างประเทศ</span>
                    </p>                
                </div>
            </div>        
        </div>        
    </div>

    <%--========================================================================================================--%>

    <%-- Organizational Structure --%>   

    <div class="container">
        <h3 class="text-head">โครงสร้างองค์กร</h3>

        <div class="row-fluid margin-bottom-20">
            <div class="span1 org"></div>
            <div class="span5 service-box-v1 org-card">
                <div><i class="icon-group color-grey"></i></div>
                <h2>ทำเนียบผู้บริหาร</h2>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
            </div>
            <div class="span5 service-box-v1 org-card">
                <div><i class="icon-sitemap color-grey"></i></div>
                <h2>โครงสร้างหน่วยงาน</h2>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.</p>
            </div>
        </div>
    </div>

    <%--========================================================================================================--%>

    <%-- Internal management --%>
    <div class="container">
        <h3 class="text-head">การบริหารงานภายในหน่วยงาน</h3>

        <h2>การเบิกค่าใช้จ่ายสมทบผู้เชี่ยวชาญต่างประเทศ</h2>
        <p>ส่วนราชการขอเบิกค่าใช้จ่ายสมทบผู้เชี่ยวชาญต่างประเทศจากกระทรวงการต่างประเทศ</p> 

        <div class="row-fluid no-space-steps">
            <div class="span3 front-steps front-step-one">
                <h2>ส่งหนังสือ</h2>
                <p>ส่วนราชการส่งหนังสือขอเบิกค่าใช้จ่าย</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <%--------------------------------------------%>
            <div class="span3 front-steps front-step-two">
                <h2>รับหนังสือ</h2>
                <p>กระทรวงฯ ได้รับหนังสือขอเบิกค่าใช้จ่าย</p>                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <%--------------------------------------------%>
            <div class="span3 front-steps front-step-three">
                <h2>จัดทำบันทึก</h2>
                <p>จัดทำบันทึกเสนอขออนุมัติเบิกจ่าย</p>                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>     
            <%--------------------------------------------%>
            <div class="span3 front-steps front-step-four">
                <h2>ทำรายการเบิกจ่าย</h2>
                <p>ทำรายการเบิกจ่ายตามระบบ GFMIS</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>            
        </div>
        <%-------------------------------------------------------------------------------------------%>

        <div class="row-fluid text-center margin-bottom-30 margin-top-10">
            <div class="span12">
                <span>ส่งหนังสือ <i class=" icon-long-arrow-right"></i> รับหนังสือ ใช้เวลาประมาณ ๓ วันทำการ |</span> 
                <span>รับหนังสือ <i class=" icon-long-arrow-right"></i> จัดทำบันทึก ใช้เวลาประมาณ ๒ วันทำการ |</span> 
                <span>จัดทำบันทึก <i class=" icon-long-arrow-right"></i> ทำการเบิกจ่าย ใช้เวลาประมาณ ๕ วันทำการ</span>
            </div>  
        </div>
        <%-------------------------------------------------------------------------------------------%>

        <p>ส่วนราชการขอเบิกจ่ายงบประมาณแทนกระทรวงการต่างประเทศ</p>
        <div class="row-fluid no-space-steps margin-bottom-15">
            <div class="span3 front-steps front-step-one">
                <h2>จัดทำบันทึก</h2>
                <p>จัดทำบันทึกเสนอกระทรวงอนุมัติเบิกค่าใช้จ่าย</p>                
                <p>&nbsp;</p>
            </div>
            <div class="span3 front-steps front-step-two-last">
                <h2>ทำรายการเบิกจ่าย</h2>
                <p>ทำรายการเบิกจ่ายโดยโอนเงินงบประมาณตามระบบ GFMIS</p>                
                <p>&nbsp;</p>
            </div>                
        </div>                      

        <p class="margin-bottom-30"><b>สรุป</b> ระยะเวลาในการเบิกจ่ายค่าใช้จ่ายของผู้เชี่ยวชาญแต่ละรายประมาณ ๑๐ วันทำการ</p>   
        <%-------------------------------------------------------------------------------------------%>
        
        <h2 class="">การเบิกค่าเบี้ยเลี้ยงให้แก่ผู้รับทุนที่มาฝึกอบรมดูงานในประเทศไทย</h2>
            
        <div class="row-fluid no-space-steps margin-bottom-15">
            <div class="span3 front-steps front-step-one">
                <h2>จัดทำบันทึก</h2>
                <p>จัดทำบันทึกเสนอขออนุมัติเบิกจ่าย</p>                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
            <div class="span3 front-steps front-step-two-last">
                <h2>อนุมัติการเบิกจ่าย</h2>
                <p>อนุมัติเช็คให้หน่วยงาน</p>                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>              
        </div>

        <p><b>สรุป</b> ระยะเวลาในการเบิกจ่ายค่าเบี้ยเลี้ยงให้แก่ผู้รับทุนที่มาฝึกอบรมดูงานในประเทศไทยประมาณ ๓ วันทำการ</p>     
    </div>
    
    <%--========================================================================================================--%>
    
</asp:Content>

<%--JS part--%>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
</asp:Content>

