﻿<%@ Page Title="" Language="vb" EnableEventValidation="false" AutoEventWireup="false" MasterPageFile="~/frmMaster.Master" CodeFile="frmEditSector.aspx.vb" Inherits="frmEditSector" %>

<%@ Register Src="~/frmScriptAdvance.ascx" TagPrefix="uc1" TagName="frmScriptAdvance" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <title>Sector | ODA</title>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Sector (สาขา)
            </h1>
            <ol class="breadcrumb">
                <li><a href="#" style="cursor:text"><i class="fa fa-university"></i> Master</a></li>
                <li><a href="frmSector.aspx">Sector</a></li>
                <li class="active">
                    <asp:Label ID="lblEditMode" runat="server" Text=""></asp:Label>
                    Sector</li>
            </ol>
        </section>

        <asp:UpdatePanel ID="udpList" runat="server">
            <ContentTemplate>
                <!-- Main content -->
                <section class="content">
                    <br />
                    <!-- START CUSTOM TABS -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Horizontal Form -->
                            <div class="box">
                                <div class="box-header with-border bg-blue-gradient">
                                    <h4 class="box-title">
                                        <asp:Label ID="lblEditMode2" runat="server" Text=""></asp:Label>
                                        Sector</h4>
                                </div>
                                <!-- /.box-header -->
                                <!-- form start -->
                                <form class="form-horizontal">
                                    <asp:Panel ID="PanelSector" runat="server">
                                        <div class="box-body">
                                            <div class="form-group">
                                                <label for="Sector" class="col-sm-3 control-label">Sector 
                                                    <br/>(สาขา) : <span style="color:red">*</span></label>
                                                <div class="col-sm-7">

                                                    <asp:TextBox ID="txtName" runat="server" CssClass="form-control" MaxLength="255"></asp:TextBox>
                                                </div>
                                                <br />
                                                <br />
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group">
                                                <label for="CODE" class="col-sm-3 control-label line-height">CODE  :</label>
                                                <div class="col-sm-7">

                                                    <asp:TextBox ID="txtCode" runat="server" CssClass="form-control"></asp:TextBox>
                                                </div>
                                                <!-- /.box -->
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="form-group">
                                                <br />
                                                <label for="inputname" class="col-sm-3 control-label">Active Status :</label>
                                                <div class="col-sm-9">
                                                    <label>
                                                        <asp:CheckBox ID="chkACTIVE_STATUS" runat="server" CssClass="minimal" Checked="true" /></label>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                        <!-- /.box-body -->
                                    </asp:Panel>
                                    <div class="box-footer">
                                        <div class="col-sm-8"></div>
                                        <div class="col-sm-2">
                                            <asp:LinkButton ID="btnSave" runat="server" CssClass="btn btn-block btn-social btn-success" OnClick="btnSave_Click">
                                                <i class="fa fa-save"></i>Save
                                            </asp:LinkButton>
                                        </div>
                                        <div class="col-sm-2">
                                            <asp:LinkButton ID="btnCancle" runat="server" CssClass="btn btn-block btn-social btn-google" OnClick="btnCancle_Click">
                                                <i class="fa fa-reply"></i>Cancel
                                            </asp:LinkButton>
                                        </div>
                                    </div>
                                    <!-- /.box-footer -->

                                </form>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!-- /.col -->

                    </div>
                    <!-- /.row -->
                    <!-- END CUSTOM TABS -->


                </section>
                <!-- /.content -->
            </ContentTemplate>
        </asp:UpdatePanel>

    </div>

</asp:Content>

